
  
  .return-rental-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfanın tamamını kaplar */
  }
  
  .return-rental-form {
    max-width: 90%; /* Formun en fazla genişliği */
    overflow-x: auto; /* Yatay kaydırma çubuğunu görüntüler */
    text-align: center; /* Input alanlarını ortalar */
  }
  

   label {
    display: block; /* Labelı blok eleman yapar */
    margin-bottom: 5px; /* Label ile input arasına boşluk ekler */
    color: aliceblue;
  }
  
   input {
    width: 40%; /* Input alanlarını genişletir */
    padding: 8px 10px; /* Input alanlarının iç boşluğunu ayarlar */
    font-size: 14px; /* Yazı tipi boyutunu ayarlar */
    background-color: #121212;
    color: aliceblue;
    border-radius: 20px;
  }
  
  .return-rental-action {
    margin-top: 20px; /* Butonlar ile diğer içerik arasına boşluk ekler */
  }
  
  .return-rental-action button {
    margin-right: 10px; /* Butonlar arasına boşluk ekler */
  }

  .return-button{
    border-radius: 20px;
    background-color: rgba(140, 25, 25);
    color: aliceblue;
    width: 200px;
    height: 40px;
  }
  
  