.Cards {
    margin-bottom: 20px; /* Altındaki formdan biraz boşluk bırakın */
  }
  
  .form-control {
    width: 100%; /* Input alanlarının genişliğini tam genişliğe ayarlayın */
    padding: 10px; /* Input alanlarının içindeki boşluk miktarını ayarlayın */
    border: 1px solid #ddd; /* Input alanlarının etrafına sınır ekleyin */
    border-radius: 5px; /* Input alanlarının köşelerini yuvarlaklaştırın */
    font-size: 14px; /* Input alanlarının yazı tipi boyutunu ayarlayın */
    margin-bottom: 10px; /* Input alanları arasında boşluk bırakın */
  }
  
  .btn-dark {
    background-color: #333; /* Butonun arka plan rengini ayarlayın */
    color: #fff; /* Butonun yazı rengini ayarlayın */
  }
  .card-control{
    
      padding: 5px;
      border-radius: var(--bs-border-radius);
      border: var(--bs-border-width) solid var(--bs-border-color);
      font-size: 1rem;
      width: 350px;
      background-color:#9b9a9a4b ; 
      color: whitesmoke;
  
  }
  .card-control option {
    padding: 10px; 
    background-color: #ada9a9; 
    color: #ffffff; 
  }