table {
    width: 1000px; /* Tablonun genişliği, sayfa genişliğinin %80'i */
    height: 500px;
    /* margin: auto auto; */ /* Sayfa ortasında hizalamak için */
    border-collapse: collapse;
    margin-right: 600px;
  }
  
  th,
  td {
    border: 1px solid #000000;
    padding: 20px; /* Hücre içi dolgusu */
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .denemeBrand{
    margin: auto;
    width: 1200px;
    height: 600px;
    /* margin-top: 200; */ 
    border: 2px solid red;
  }


.table-container {
  width: 1000px; /* Tablo genişliği */
}

.baslik, .sutun {
    border: 1px solid #000000;
    padding: 20px; /* Hücre içi dolgusu */
    text-align: center;
}

#action, #actionObje {
    width: 200px;
}

#name, #nameObje {
    width: 150px;
}