/* Resim boyutları */
img {
  max-width: 120px;
  height: 80px;
}

.full-screen {
  width: 1200px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow-x: auto;
  position: absolute;
  left: 75%;
  transform: translate(-75%);
}

