@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(15px); /* Başlangıç pozisyonu aşağıda */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Bitiş pozisyonu yukarıda */
    }
  }

input.form-control {
    background-color: #121212;
    color: white;
    border-color: #7a7a7a;
  }

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1)
    
}

input[type="date"]::-webkit-calendar-picker-indicator:active {
scale: 0.9;
}

input[type="date"]::-webkit-calendar-picker{
    background-color: #8C1816
}

      input[type="date"]:focus {
        background-color: #1f1f1f;
        color: white;
        box-shadow: none;
        border-color: #c5c4c4;
      }


.text-fadeInUpFast {
    z-index: +2;
    animation: fadeInUp 1s ease-in-out;
  }


  .button3 {
     appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 270px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  }

  .button3:hover {
    transition-duration: 1.5s;
    box-shadow: inset 0 -100px 0 0 #8C1816;
  }
  
  .button3:active {
    transform: scale(0.97);
    box-shadow: inset 0 -100px 0 0 rgb(189, 8, 8);
    transition-duration: .2s;
  }
  
  .button3:hover .wheelIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
  }
  
  
  .wheelIcon {
    height: 25px;
    margin-left: 20px;
    transition-duration: 1.5s;
  }

  
  
  








     
/* .button2 {
  
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: flexbox;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button2 span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button2 .svg-wrapper{
float: left;
scale: 0.8;
}

.button2:hover {
  background: #000;
}

.button2:hover .svg-wrapper {
  transition: 0.5s linear;
}

.button2:hover svg {
  transform: translateX(1.2em) scale(1.1);
  fill: #fff;
}

.button2:hover span {
  opacity: 0;
  transition: 0.5s linear;
}

.button2:active {
  transform: scale(0.95);
}

.button2:active .svg-wrapper {
    transform: translateX(1000%);
    fill: #fff;
    transition: transform 0.3s ease-in-out;
  } */