
.container2{
    
  margin-top: 100px;
  width: 85%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: absolute;
  left: 77%;
  transform: translate(-75%);
}

.adminRoutes{
    width: 25%;
}

.order-card {
    color: #a9a8a8;
}

.bg-c-white {
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}


.bg-c-gray {
    background: linear-gradient(45deg, #999999, #CCCCCC);
}

/* .bg-c-red {
    background: linear-gradient(45deg, #999999, #CCCCCC);
} */

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg-c-red {
    background: linear-gradient(45deg, #FF9999, #FFCCCC);
}

.bg-c-turquoise {
    background: linear-gradient(45deg, #40E0D0, #20B2AA);
}

.bg-c-vivid-green {
    background: linear-gradient(45deg, #00FF00, #33FF33);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-height: 200px;
    align-items: center;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

/* @media (min-width: 700px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 700px;
    }
} */
