
.container2{
    
  /*  --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5); 
    margin-left: 200px;
    width: 85%;
    margin-top: auto;
    background: #e2dbdd;
    margin-top: 10px;
   width: 85%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  overflow-x: auto;
  position: absolute;
  left: 77%;
  transform: translate(-25%); */
}

.adminRoutes{
    width: 25%;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.bg-c-purple {
    background: linear-gradient(45deg, #8A2BE2, #FF00FF);
}

.bg-c-turquoise {
    background: linear-gradient(45deg, #40E0D0, #20B2AA);
}

.bg-c-vivid-green {
    background: linear-gradient(45deg, #00FF00, #33FF33);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

/* @media (min-width: 700px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 700px;
    }
} */
