.row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%; 
  }
  
  #select-block {
    width: 500px;
  }
  
  #input-block {
    width: 500px;
  }
  
  h2 {
    text-align: center;
  }
  .h2-car{
    margin-bottom: 50px;
  }
  
  .container-car {
    margin: 60px auto 0;
    width: 80%;
    margin-top: 2%;
  }
  
  /* #addCarBtn {
    margin-top: 20px;
  }
  #addCarBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #addCarBtn:hover {
    background-color: #0056b3;
  } */